:host {
    margin-top: 19px;
}

.wishlist {
    .title {
        height: 44px;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #2a2c2e;
        margin-bottom: 48px;
    }
}