p-dialog {
    .ui-dialog {
        max-width: 300px;

        .ui-dialog-titlebar { 
            display: none;
        }

        .ui-dialog-content {
            padding: 0px !important;
        }
    }
}